:root {
  --subtext-color: rgba(84, 84, 84, 0.88);
}

* {
  text-align: justify;
  font-family: Roboto, serif;
}

.modal-container {
  //display: none; /* Hidden by default */
  text-align: -webkit-center;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  display: flex;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--theme-label-tertiary);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }
}

.modal-content {
  display: flex;
  overflow: scroll;
  position: relative;
  width: 90%;
  max-height: 500px;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 9px rgb(30 30 30);
  overflow-x: hidden;
  -ms-overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-content-image {
  position: relative;
  display: flex;
}

.modal-content-image-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.content-image-portrait {
  position: absolute;
  height: 90%;
}

.content-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center
}

.agent-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
}

.modal-container-info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.agent-info-dev-name {
  margin-top: 0;
}

.abilities-list {
  position: relative;
  margin: 8px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  border: 1px solid black;
  border-radius: 10px;
  flex-wrap: nowrap;

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--theme-label-tertiary);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.abilities-header {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center
}

.abilities-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.abilities-header-name {
  margin: 0;
  text-align: justify;
}

.abilities-header-slot {
  margin: 0;
  text-align: justify;
}

.abilities-description, .agent-info-description {
  font-size: 15px;
}

.agent-info-dev-name, .abilities-header-slot {
  color: var(--subtext-color);
  font-size: 14px;
}

.agent-info-name {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}